.contacts-display {
    padding-top: 40px;
    margin-left: 60px;
    font-size: large;
}

.contacts-display thead {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    border: 2px solid black;
    background-color: #009688;
    color: aliceblue;
    font-family: "Trebuchet MS", Arial, Helvetica, serif;
    font-size: 20px;
}

.contacts-display tbody {
    border: 2px solid #ddd;
    background-color: aliceblue;
}
