.contacts-display {
    border-collapse: revert;
    padding-top: 40px;
    margin-left: 30px;
    font-size: medium;
    overflow-x: auto;
    overflow-y: auto;
    text-align: center;
}

.contacts-display thead {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    border: 2px solid black;
    background-color: #009688;
    color: aliceblue;
    font-family: serif;
    font-size: 20px;
}

.contacts-display tbody {
    border: 2px solid #ddd;
    text-align: center;
    background-color: aliceblue;
}
