.internal-address-table{
    font-size: small;
}

.internal-phone-table {
    font-size: small;
}

.internal-date-table {
    font-size: small;
}

.form-table{
    width: auto;
}

.contact-form {
    margin-top: -20px;
}
