.search-bar{
    width: 950px;
    position: absolute;
    margin-left: 30px;
    margin-right: 10px;
    margin-top: -10px;
    height: 24px;
    border: 2px solid lightslategray;
}

.submit-search {
    display: inline-block;
    margin-top: -10px;
    position: absolute;
    left: 1010px;
    font-size: 20px;
}

#clear-search{
    visibility: hidden;
    position: absolute;
    margin-top: -10px;
    left: 1150px;
    font-size: 20px;
}
